<!--This has been added to cope with the incoming view from the HomeController!-->
<!--You can find the referenced "release" file in the Models Folder-->
<!--Your project name ↓↓↓↓↓ not necessarily (SpotifyWebTutorial) -->
@model IEnumerable<SpotifyWebTutorial.Models.Release>            
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> <!--Basically use the "at" symbol to type C# -->
    @foreach (var item in Model)
    {

        
           <div class="card m-1" style="width:350px;">
               
               <div class="card-body">
                   <!--All of the data in our class is now converted to HTML for display-->
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Artists)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Name)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Date)</p> 
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="300" height="300" alt="Some alternative text!" />
                    <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">Listen to the Lovely Tune!</a>

               </div>
            </div>
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
